




.eq-toggle-btn {
    margin-right: 8px;
    /* padding: 8px; */
    border-radius: 8px;
    border: none;
    /* background: #222; */
    background: transparent;
    /* color: #fff; */
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    height: 32px;
    /* width: 40px; */
    width: 36px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eq-toggle-btn.on {
    /* background: rgba(29, 185, 84, 0.8); */
    background: rgb(250, 72, 111, 0.8);
    /* color: #fff; */
    box-shadow: 0 0 12px 4px rgba(250, 72, 111, 0.7), 0 0 2px 1px rgba(250, 72, 111, 0.5);
}

.eq-toggle-btn img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  /* Make icon white */
  filter: brightness(0) invert(1);
}












